<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="YamlOrg" value="1" />
    <add key="JsonOrg" value="1" />
    <add key="CsvOrg" value="0" />
  </appSettings>
</configuration>